# Briktra API & App Configuration
BRIKTRA_API_BASE=https://bybdg06o5b.execute-api.ap-south-1.amazonaws.com/qa
BRIKTRA_UI_URL=https://briktra.com/app/index.html
BRIKTRA_SALT_GUID=briktra-password-salt-guid-2026

# Secrets
BRIKTRA_SIGNING_SECRET=

# Role Accounts & Credentials
TENANT_EMAIL=tenant@yopmail.com
TENANT_PASSWORD=Tenant@123

MANAGER_EMAIL=briktramanager@yopmail.com
MANAGER_PASSWORD=Manager@123

SUPERVISOR_EMAIL=briktrasupervisor@yopmail.com
SUPERVISOR_PASSWORD=Supervisor@123

EMPLOYEE_EMAIL=briktraemployee@yopmail.com
EMPLOYEE_PASSWORD=Employee@123
